<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>LearnLite: Golang, Part 2</title>
<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<nav>
	<a href="../index.html">Home.</a>
	<a href="index.html">Index.</a>
	<a href="part1.html">Part 1.</a>
	<a href="part2.html">Part 2.</a>
</nav>
<p>Start with making a new folder alongside main.go named templates. In this folder make a file called base.gohtml and paste in the following code:
&lt;code&gt;&lt;br&gt;
 {{define "base"}}&lt;br&gt;
 &lt;!DOCTYPE html&gt;&lt;br&gt;
 &lt;html lang="en"&gt;&lt;br&gt;
 &lt;head&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;meta charset="utf-8"/&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;title&gt;{{template "title" .}} | Island Enterprises&lt;/title&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;link rel="stylesheet" href="/style.css"&gt;&lt;br&gt;
 &lt;/head&gt;&lt;br&gt;
 &lt;body&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{{template "nav" .}}&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;main&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;h1&gt;Island Enterprises&lt;/h1&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{{template "body" .}}&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;/main&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;{{template "footer" .}}&lt;br&gt;
 &lt;/body&gt;&lt;br&gt;
 &lt;/html&gt;&lt;br&gt;
 {{end}}&lt;br&gt;
 &lt;br&gt;
 {{define "navlist"}}&lt;br&gt;
 &lt;nav&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;ul&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;li&gt;&lt;a href="/about/"&gt;About&lt;/a&gt;&lt;/li&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;li&gt;&lt;a href="/contact/"&gt;Contact&lt;/a&gt;&lt;/li&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/ul&gt;&lt;br&gt;
 &lt;/nav&gt;&lt;br&gt;
 {{end}}&lt;br&gt;
 {{define "nav"}}&lt;br&gt;
 &lt;header&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;{{template "navlist"}}&lt;br&gt;
 &lt;/header&gt; &lt;br&gt;
 {{end}}&lt;br&gt;
 {{define "footer"}}&lt;br&gt;
 &lt;footer class="footer"&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;p&gt;&lt;small&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Islands are peaceful.&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;/small&gt;&lt;/p&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;{{template "navlist"}}&lt;br&gt;
 &lt;/footer&gt; &lt;br&gt;
 {{end}}&lt;br&gt;
 &lt;/code></p>

<p>Then make three files, home.gohtml, about.gohtml and contact.gohtml.</p>

<p>home.gohtml:
&lt;code&gt;&lt;br&gt;
 {{define "title"}}Home{{end}}&lt;br&gt;
 {{define "body"}}&lt;br&gt;
 &lt;p&gt;Here at Island Enterprises we take water seriously.&lt;/p&gt;&lt;br&gt;
 {{end}}&lt;br&gt;
 &lt;/code></p>

<p>about.gohtml:
&lt;code&gt;&lt;br&gt;
 {{define "title"}}About{{end}}&lt;br&gt;
 {{define "body"}}&lt;br&gt;
 &lt;h2&gt;About&lt;/h2&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;p&gt;Island Enterprises is located on an island.&lt;/p&gt;&lt;br&gt;
 {{end}}&lt;br&gt;
 &lt;/code></p>

<p>contact.gohtml:
&lt;code&gt;&lt;br&gt;
 {{define "title"}}Contact{{end}}&lt;br&gt;
 {{define "body"}}&lt;br&gt;
 &lt;h2&gt;Contact&lt;/h2&gt;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&lt;p&gt;Please contact us via: {{ .ContactMethod }}&lt;/p&gt;&lt;br&gt;
 {{end}}&lt;br&gt;
 &lt;/code>
As you can see here we pass in an external value called ContactMethod.</p>

<p>Then under the imports in main.go add the following code:
&lt;code&gt;&lt;br&gt;
 var tm map[string]<h3>template.Template&lt;br&gt;</h3></p>

<p> &lt;br&gt;
 func inittm() {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;tm = make(map[string]*template.Template)&lt;br&gt;
 &amp;nbsp;&amp;nbsp;tm["home"] = template.Must(template.ParseFiles("templates/home.gohtml", "templates/base.gohtml"))&lt;br&gt;
 &amp;nbsp;&amp;nbsp;tm["about"] = template.Must(template.ParseFiles("templates/about.gohtml", "templates/base.gohtml"))&lt;br&gt;
 &amp;nbsp;&amp;nbsp;tm["contact"] = template.Must(template.ParseFiles("templates/contact.gohtml", "templates/base.gohtml"))&lt;br&gt;
 }&lt;br&gt;
 &lt;/code>
And in func main at the top add
&lt;code&gt;&lt;br&gt;
 inittm()&lt;br&gt;
 &lt;/code></p>

<p>Now let us modify the serveHome function:
&lt;code&gt;&lt;br&gt;
 func serveHome(w http.ResponseWriter, r *http.Request) {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;err := tm["home"].ExecuteTemplate(w, "base", struct{}{})&lt;br&gt;
 &amp;nbsp;&amp;nbsp;if err != nil {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;log.Println(err)&lt;br&gt;
 &amp;nbsp;&amp;nbsp;}&lt;br&gt;
 }&lt;br&gt;
 &lt;/code>
What is the deal with the empty struct? That is used to pass in external values, and in home we have none.</p>

<p>Next let us add two functions to serve about and contact:
&lt;code&gt;&lt;br&gt;
 func serveAbout(w http.ResponseWriter, r *http.Request) {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;err := tm["about"].ExecuteTemplate(w, "base", struct{}{})&lt;br&gt;
 &amp;nbsp;&amp;nbsp;if err != nil {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;log.Println(err)&lt;br&gt;
 &amp;nbsp;&amp;nbsp;}&lt;br&gt;
 }&lt;br&gt;
 func serveContact(w http.ResponseWriter, r *http.Request) {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;err := tm["contact"].ExecuteTemplate(w, "base", struct{ ContactMethod string }{ContactMethod: "Bottled message."})&lt;br&gt;
 &amp;nbsp;&amp;nbsp;if err != nil {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;log.Println(err)&lt;br&gt;
 &amp;nbsp;&amp;nbsp;}&lt;br&gt;
 }&lt;br&gt;
 &lt;/code>
Here in serveContact you see that we pass in the string "Bottled message." as preferred contact method.</p>

<p>Finally we have to register the new paths with our router:
&lt;code&gt;&lt;br&gt;
 router.HandleFunc("/about/", serveAbout)&lt;br&gt;
 router.HandleFunc("/contact/", serveContact)&lt;br&gt;
 &lt;/code></p>

<p>If we run our server now we should get a very simple working web site! In order to make it look atleast a little palable let's add some styling. Create style.css alongside main.go and copy the following:
&lt;code&gt;&lt;br&gt;
 nav ul {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;list-style-type: none;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;margin: 0;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;padding: 0;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;overflow: hidden;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;background-color: #000;&lt;br&gt;
 }&lt;br&gt;
 &lt;br&gt;
 nav li {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;float: left;&lt;br&gt;
 }&lt;br&gt;
 &lt;br&gt;
 nav li a {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;display: block;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;color: white;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;text-align: center;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;padding: 14px 16px;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;text-decoration: none;&lt;br&gt;
 }&lt;br&gt;
 &lt;br&gt;
 nav li a:hover {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;background-color: blue;&lt;br&gt;
 }&lt;br&gt;
 &lt;br&gt;
 body {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;margin: 0 0 100px;&lt;br&gt;
 }&lt;br&gt;
 &lt;br&gt;
 main {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;padding-left: 30px;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;margin-right: 33%;&lt;br&gt;
 }&lt;br&gt;
 &lt;br&gt;
 footer {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;position: absolute;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;left: 0;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;bottom: 0;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;height: 100px;&lt;br&gt;
 &amp;nbsp;&amp;nbsp;width: 100%;&lt;br&gt;
 }&lt;br&gt;
 &lt;/code></p>

<p>Then in main.go add the following along the routes:
&lt;code&gt;&lt;br&gt;
 router.HandleFunc("/style.css", func(w http.ResponseWriter, r *http.Request) {&lt;br&gt;
 &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;http.ServeFile(w, r, "style.css")&lt;br&gt;
 })&lt;br&gt;
 &lt;/code></p>

<p>Now we have a professional looking website! The full working code can be found at 
<a href="https://github.com/jhlq/gocourse/tree/main/part2" target="_blank">https://github.com/jhlq/gocourse/tree/main/part2</a></p>


<br><br><br>
<footer>
<nav>
	<a href="../index.html">Home.</a>
	<a href="index.html">Index.</a>
	<a href="part1.html">Part 1.</a>
	<a href="part2.html">Part 2.</a>
</nav>
</footer>
<p><small>Updated on 2020-11-12.</small></p>
</body>
</html>